{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}格式化XML{% endblock %}
{% block endpoint %}
<a href="{{ url_for('tool.formatXml') }}" id="ftxml"><i class="fa fa-indent"></i>格式化XML</a>
{% endblock %}

{% block page_content %}


<div class="row" style="padding: 5px;">
    <div class="col-lg-5 col-xs-5">
        <div>
            <span>
                <textarea name="xml" id="xmlData" style="width: 475px;height: 500px;">
                </textarea>
            </span>
        </div>
    </div>
    <div class="col-lg-1 col-xs-1" style="text-align: center">
        <div style="padding-top: 5px;">
            <button id="fmtxml" type="button" class="btn btn-primary" onclick="formatXML();"> 格式化</button>
        </div>
        <div style="padding-top: 5px;">
            <button type="button" class="btn btn-primary" onclick="copyftdata();"> 复制</button>
        </div>
        <div style="padding-top: 5px;">
            <button type="button" class="btn btn-primary" onclick="clearXML();"> 清空</button>
        </div>
    </div>
    <div class="col-lg-6 col-xs-6">
        <div>
            <span>
                <textarea name="ftxml" id="ftxmlData" style="width: 475px;height: 500px;">
                </textarea>
            </span>
        </div>
    </div>
</div>


<!-- Modal -->


{% endblock %}