{% macro render_pagination(pagination, endpoint) %}
<div class="row">
    <div class="col-md-12">
        <ul class="pagination pagination-centered">
            {% if pagination.has_prev %}
            <li class="active">
                <a href="{{ url_for(endpoint, page=1) }}">首页</a>
            </li>
            <li class="active">
                <a href="{{ url_for(endpoint, page=pagination.prev_num) }}">上一页</a>
            </li>
            {% else %}
            <li class="disabled">
                <a href="javascript:;">首页</a>
            </li>
            <li class="disabled">
                <a href="javascript:;">上一页</a>
            </li>
            {% endif %}
            {%- for page in pagination.iter_pages() %}
            {% if page %}
            {% if page != pagination.page %}
            <li><a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a></li>
            {% else %}
            <li class="active"><a href="javascript:;">{{ page }}</a></li>
            {% endif %}
            {% else %}
            <li><span class=ellipsis>…</span></li>
            {% endif %}
            {%- endfor %}
            {% if pagination.has_next %}
            <li class="active">
                <a href="{{ url_for(endpoint, page=pagination.next_num) }}">下一页</a>
            </li>
            <li class="active">
                <a href="{{ url_for(endpoint, page=pagination.pages) }}">末页</a>
            </li>
            {% else %}
            <li class="disabled">
                <a href="javascript:;">下一页</a>
            </li>
            <li class="disabled">
                <a href="javascript:;">末页</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endmacro %}